<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('css') %>
        <title>Feeds</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Feeds</h1>
            <a class="btn btn-info" href="/post/add"> Add post</a>
        </div>
        <div class="row mt-2 mb-2">
            <% posts.forEach(post=> { %>
                <div class="col-auto">
                        <div class="card" style="width: 18rem;">
                            <a href="/post/<%= post.id %>/detail"><img src="/<%= post.imgUrl %>" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <h5 class="card-title text-primary-emphasis">
                                    <%= post.title %>
                                </h5>
                                <p class="card-text" style="white-space: pre-line;">
                                    <%= post.content %>
                                </p>
                                <p class="card-text text-info-emphasis" style="white-space: pre-line;">
                                    Uploaded by: <%= post.User.username %> 
                                    
                                    on <%= post.formatDateNumeric %>
                                </p>
                            </div>
                        </div>
                </div>
            <% }) %>
        </div>

    </div>
</body>

</html>