<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('css') %>
    <title>Post</title>
</head>
<body>
    <div class="container text-center">
        <div class="row mb-2">
            <h1> <%= post.title %> </h1>
            <h5>Uploaded by <%= post.User.username %></h5>
            <h6>on <%= post.formatDateNumeric %></h6>

        </div>
        <div class="row mb-2">
            <img src="/<%= post.imgUrl %>" alt="..." srcset="">
        </div>
        <div class="row mb-2">
            <p style="white-space: pre-line;">
            Caption:
            <%= post.content %>
            </p>
        </div>
        <% if (post.User.id === userSession) { %>
            <div class="row mb-2">
                <div class="col-auto">
                    <a class="btn btn-warning " href="/post/<%= post.id %>/edit">Edit</a>
                </div>
                <div class="col-auto">
                    <a class="btn btn-danger" href="/post/<%= post.id %>/delete">Delete</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>